:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


  
}

body {
  margin: 0;

}


.nav-link{
  margin-left: 30px;
 
        padding: 7px;

}

.anchor a{

  text-decoration: none;
 
  



}
.footerEndLink{
  padding-left: 60px;
}

.footerEndLink a{
  text-decoration: none;
   padding-left: 30px;
}
#supportHero{
  background-color: #387ed1;
  color: white;
 
}

#supportHero a {
  color: white;
}

#supportWrapper{
  display: flex;
  justify-content:space-between ;
  margin: 0 150px;

}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}